* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #d2dbdd; */
}
/*code for todolist app*/
/* .main_div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e44ad;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  text-align: center;
}
.center_div{
  width: 25%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,.5);
  border-radius: 10px;
  overflow: hidden;
}
h1{
  background-color: #ff006e;
  color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
  font-size: bolder;
}
input{
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ff006e;
  margin-top: 20px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}
.todo{
  margin-left: 20px;
  min-height: 40px;
  width: 40px;
  outline: none;
  border: 1px solid;
  border-radius: 50px;
  border-color: transparent;
  font-size: 20px;
  background-color: #8566aa;
  color: whitesmoke;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,.5);
}
.todo:hover{
  background-color: #20bf6b;
}
ol{
  margin-top: 30px;
}
ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}
.listbutton{
  float: left;
  margin: 5px;
  border: 1px solid;
  border-radius: 50px;
  border-color: transparent;
  cursor: pointer;
  font-size: 10px;
  background-color: #8e44ad;
  color: whitesmoke;
  align-content: center;
}
.listbutton:hover{
  background-color: red;
} */

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search {
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 40px;
}
.search:hover {
  padding: 20px;
  transition: all 0.4s ease-in-out;
  border: 5px solid #8e44ad;
}

.header-btn {
  padding: 12px;
  border: 1px solid white;
  background-color: #8e44ad;
  height: 10vh;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.2);
}

.header-btn:hover {
  font-size: 20px;
  padding: 20px;
  background-color: #8e44ad;
  border-radius: 10px;
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05, 1.05);
  transition: all 0.4s ease-in-out;
}

.heading_style {
  padding: 30px 0;
  /* text-align: center; */
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Pacifico", cursive;
  color: #ff006e;
  /* background-color: #fff; */
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8e44ad;
  width: 100%;
}
.menu {
  margin-top: 25px;
}
.btn {
  width: auto;
  padding: 12px;
  border: 1px solid white;
  background-color: #8e44ad;
  height: 10vh;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  font-size: 20px;
  padding: 20px;
  background-color: #8e44ad;
  border-radius: 10px;
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05, 1.05);
  transition: all 0.4s ease-in-out;
}
.category {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.category_btn {
  width: auto;
  padding: 12px;
  margin-top: 10px;
  /* margin-left: 20px; */
  border: 1px solid white;
  background-color: #8e44ad;
  height: 10vh;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.2);
}
.category_btn:hover {
  font-size: 20px;
  padding: 20px;
  background-color: #8e44ad;
  border-radius: 10px;
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05, 1.05);
  transition: all 0.4s ease-in-out;
}

/* .select-option {
  display: flex;
  justify-content: center;
  width: 100%;
}
.select {
  width: 300px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 2px;
  border-bottom: 2px solid #8e44ad;
  background-color: #d2dbdd;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
  text-transform: capitalize;
  cursor: pointer;
} */

.cards {
  width: 100%;
  height: auto;
}

.card {
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.2);
  float: left;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05, 1.05);
  transition: all 0.4s ease-in-out;
}

.card_img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card_info {
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color: #fff;
}

.card_category {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: bolder;
  color: #868686;
  background-color: #fff;
}

.card_title {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  text-transform: capitalize;
}

button {
  padding: 5px 8px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #868686;
  background-color: #fff;
  outline: none;
  margin-bottom: 30px;
  border: 1px solid black;
  cursor: pointer;
}
.footer {
  background-color: #8e44ad;
  bottom: 0;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
}
.footer .col1,
.col2,
.col3 {
  background-color: #8e44ad;
}
.footer .col1,
.col2,
.col3 > h1 {
  /* margin-top: 10px; */
  color: #161a1d;
  background-color: #8e44ad;
}

.footer .col2 > a {
  background-color: #8e44ad;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 15px;
}

.footer .col1 > p {
  /* margin-top: 15px; */
  color: whitesmoke;
  background-color: #8e44ad;
  /* font-size: 16px; */
  /* font-weight: bolder; */
}
.footer .col3 > a{
  margin: 0 4px;
  color: white;
}
.fa-github {
  font-size: 30px;
}
.fa-instagram {
  font-size: 30px;
}
.footer_bottom {
  background-color: #8e44ad;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    margin: 5%;
  }
  .footer {
    /* flex-direction: column; */
    overflow: auto;
    height: 200px;
  }
  .footer .search-bar {
    margin-bottom: 5px;
  }
  .header {
    flex-direction: column;
  }
  /* .btn {
    border-radius: 20px;
    padding: 20px;
  } */
  .header-btn {
    border-radius: 20px;
    padding: 20px;
  }
  .card {
    width: 40%;
    flex-wrap: wrap;
  }
  .select {
    width: auto;
  }
  .center_div {
    width: 70%;
    overflow: hidden;
  }
}
